<h2>{{Title}}</h2>
<mat-dialog-content>{{Message}}</mat-dialog-content>
<mat-dialog-actions class="flex-row" style="justify-content: flex-end;">
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button [mat-dialog-close]="true" [class]="this.ConfirmClass" (keyup.enter)="$event.stopPropagation();" style="margin-right: 15px; min-width: 80px;">{{ this.LabelYes }}</button>
  <button [mat-dialog-close]="false" [class]="this.DenyClass" style="min-width: 80px;">{{ this.LabelNo }}</button>
</mat-dialog-actions>