<!--
<button *ngIf="this.Untested" mat-button mat-icon-button title="Avaliar endereço"
  (click)="this.RequestCheck(); $event.stopPropagation();">
  <i class="font-bold font-large fas fa-search"></i>
</button>
 -->
<button mat-button mat-icon-button title="Detalhes" (click)="this.ViewDetails(); $event.stopPropagation();">
  <i class="font-bold font-large fa fa-info"></i>
</button>