<div [class]="this.RowClass" (click)="this.ItemClicked()">
  <div class="full-size flex-center-vertically">
    <div class="crud-template-internal-margin flex-column full-width">
      <div class="flex-row flex-center" style="align-content: center; align-items: center; justify-content: space-between;">
        <div class="flex-column flex-grow">
          <span class="font-medium"><b>{{ this.Name }}</b></span>
          <span *ngIf="this.HasDailyLimit" class="font-medium-small">{{ this.DailyLimit }}</span>
        </div>
        <div class="flex-column">
          <span clas="crud-template-item-actions-container" style="justify-content: flex-end;">
            <button mat-button mat-icon-button title="Associar Características impeditivas"
              (click)="this.ManageCharacteristicsMinus(); $event.stopPropagation();">
              <i class="font-large far fa-minus-square"></i>
            </button>
            <button mat-button mat-icon-button title="Associar Características necessárias"
              (click)="this.ManageCharacteristicsPlus(); $event.stopPropagation();">
              <i class="font-large far fa-plus-square"></i>
            </button>
            <button mat-button mat-icon-button title="Remover Características ao concluir"
              (click)="this.ManageCharacteristicsOnFinishRevoke(); $event.stopPropagation();">
              <i class="font-large far fa-calendar-minus"></i>
            </button>
            <button mat-button mat-icon-button title="Associar Características ao concluir"
              (click)="this.ManageCharacteristicsOnFinishAward(); $event.stopPropagation();">
              <i class="font-large far fa-calendar-plus"></i>
            </button>
            <button mat-button mat-icon-button title="Associar Usuários"
              (click)="this.ManageUsers(); $event.stopPropagation();">
              <i class="font-large fas fa-users"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!this.LastChild" class="line-black"></div>
</div>