<div class="flex-column full-size">
  <div class="white-card flex-column">
    <div class="flex-row" style="margin-top: -8px;">
      <div class="margin-l" style="width: 50%;">
        <template #filterCharacteristics></template>
      </div>
      <div class="margin-both" style="width: 50%;">
        <template #filterCharacteristicsNot></template>
      </div>
      <div class="margin-r flex-center">
        <button [disabled]="this.Busy" title="Filtrar"
          class="z-button z-button-large z-button-borderless z-button-30-h z-button-font-18 backcolor-ok color-white"
          (click)="this.Filter();">
          <i *ngIf="!this.Busy" class="fas fa-search"></i>
          <i *ngIf="this.Busy" class="fa fa-circle-notch fa-spin"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="flex-column" style="height: 45px;">
    <button [disabled]="this.Busy" title="Filtrar"
      class="z-button z-button-large z-button-borderless z-button-30-h z-button-font-18 backcolor-ok color-white"
      (click)="this.UpdateCampaign();">Alterar Campanha
    </button>
  </div>
  <app-company-lister #companies></app-company-lister>
</div>
