<div *ngIf="this.Busy" class="font-large full-size flex-center">
  Carregando informações...
</div>
<div #container class="flex-column full-size visibiliity-fades visibiliity-fade-out visibiliity-fade-removed"
  style="margin-top: 6px;">
  <module-basic-default-select-with-filter #componentAddress></module-basic-default-select-with-filter>
  <div class="flex-row" style="margin-top: 6px;">
    <div style="width: 100%;">
      <module-basic-default-select-with-filter #componentCall></module-basic-default-select-with-filter>
    </div>
    <div class="margin-l" style="min-width: 225px;">
      <module-basic-default-select-with-filter #componentLines></module-basic-default-select-with-filter>
    </div>
  </div>
  <div class="flex-row" style="margin-top: 6px;">
    <div class="margin-r" style="width: 50%">
      <module-basic-default-select-with-filter #componentContact></module-basic-default-select-with-filter>
    </div>
    <div style="width: 50%">
      <module-basic-default-select-with-filter #componentNote></module-basic-default-select-with-filter>
    </div>
  </div>
  <div style="margin-top: 6px;">
    <module-basic-default-select-with-filter #componentBills></module-basic-default-select-with-filter>
  </div>
  <div style="margin-top: 6px;">
    <module-basic-default-select-with-filter #componentActivatedServices></module-basic-default-select-with-filter>
  </div>
</div>
