<div [class]="this.DisplayClass">
  <span class="margin-l font-medium-small" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden; cursor: pointer;" [title]="this.CompanyName" (click)="this.ViewCompany();">{{ this.CompanyName }}</span>
  <span class="margin-l font-medium" style="text-align: center; font-weight: 600;">{{ this.CallTime }}</span>
  <div class="line-gray"></div>
</div>
