<div class="flex-column full-size">
  <div class="white-card flex-column">
    <div class="margin-both">
      <template #filterCampaign></template>
    </div>
    <div class="flex-row" style="margin-top: -8px;">
      <div class="margin-l" style="width: 50%;">
        <template #filterCharacteristicsNot></template>
      </div>
      <div class="margin-both" style="width: 50%;">
        <template #filterCharacteristics></template>
      </div>
    </div>
  </div>
  <div #container class="visibiliity-fades visibiliity-fade-out" style="min-height: 450px; max-height: 450px;">
    <div class="flex-row" style="height: 95px;">
      <bi-card #biCardTotal></bi-card>
      <bi-card #biCardToDo></bi-card>
    </div>
  </div>
</div>
