<div [class]="this.RowClass" (click)="this.ItemClicked()">
  <div class="full-size flex-center-vertically">
    <div class="crud-template-internal-margin flex-column full-width">
      <div class="font-medium-small  flex-column full-size">
        <div class="flex-row full-size" style="justify-content: space-around;">
          <table class="full-width">
            <tr>
              <td style="width: 25%; text-align: center;">{{ this.Billing }}</td>
              <td style="width: 25%; text-align: center;">{{ this.Serial }}</td>
              <td style="width: 25%; text-align: center;">{{ this.Due }}</td>
              <td style="width: 25%; text-align: center;">{{ this.Value }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!this.LastChild" class="line-black"></div>
</div>
