/* scrollbars */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    cursor: move;
    background-color: #AAAAAA;
}

::-webkit-scrollbar-thumb:hover {
    cursor: move;
    background-color: #393F56;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

body {
    color: #41459d;
}

.html-style {
    color: #41459d;
    height: auto;
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.overlay {
    top: 6px;
    left: 6px;
    position: absolute;
    z-index: 5;
}

.overlay-full {
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 4;
}

.loader-overlay {
    width: 100%;
    height: 100%;
    color: #41459d;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
}

.right-panels-overlay {
    width: 100%;
    height: 100%;
    color: #41459d;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
}

.full-body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.full-size {
    width: 100%;
    height: 100%;
}

.no-overflow {
    overflow: hidden;
}

.flex-row {
    display: flex;
    flex-direction: column;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}

.center-vertically {
    align-items: center;
}

.center-horizontally {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-start {
    justify-content: flex-start;
}

.flex-grow {
    display: flex;
    flex-grow: 1;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    height: 1px;
}

h1, h2, h3, h4 {
    color: #41459d;
}

h5 {
    color: #41459d;
    font-size: 14px !important;
    font-style: bold !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

h6 {
    color: #41459d;
    font-size: 12px !important;
    font-style: italic !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.bottom-margin {
    margin-bottom: 6px;
}

.no-bottom-margin {
    margin-bottom: 0px !important;
}

.grid-spaced {
    display: grid;
    grid-column-gap: 6px;
}