@media (max-width: 680px) {
    .login-area {
        right: 0px;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: width 0.2s ease-in-out;
    }
    .login-box {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 10px rgb(150, 150, 150);
        background-color: rgb(238, 238, 238);
    }
}

@media (min-width: 681px) {
    .login-area {
        right: 0px;
        width: 350px;
        height: 100%;
        position: absolute;
        transition: width 0.2s ease-in-out;
    }
    .login-box {
        width: 350px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 10px rgb(150, 150, 150);
        background-color: rgb(238, 238, 238);
    }
}

.login-page {
    width: 100%;
    height: 100%;
}

.login-page-footer {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    left: 0px;
    color: white;
    bottom: 0px;
    background-color: rgba(0, 0, 0, .45);
}

.login-background-image {
    background-color: black;
    background-size: cover;
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center;
}

.login-background-tint {
    background-color: rgba(0, 0, 0, .25);
    background-blend-mode: multiply;
}

.login-image {
    width: 60px;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: blueviolet;
}

.login-container {
    transition: height 0.2s;
}