.form-control.is-valid {
    background-image: none !important;
}

.form-control.is-invalid {
    background-image: none !important;
}

.input-group {
    z-index: 0;
    transition: all 0.5s !important;
}

.input-clear {
    z-index: 4;
    position: absolute;
    right: 0px;
    height: 100%;
    display: flex;
    align-items: center;
}

.input-clear-content {
    display: flex;
    align-items: center;
}

.toast {
    max-width: 100% !important;
}

.marginless-bottom {
    margin-bottom: 0px;
}

.dropdown-toggle-arrowless::after {
    display: none !important;
}

.dropdown-toggle-rounded {
    border-radius: 50% !important;
}

.input-group-prepend {
    width: 45px !important;
}

.labeless-checkbox::before {
    display: none !important;
}

.labeless-checkbox::after {
    display: none !important;
}

/* checkbox */

.btn span.glyphicon {
    opacity: 0;
}

.btn.active span.glyphicon {
    opacity: 1;
}