.social-btn {
    position: relative;
    display: flex;
    padding: .8em;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: transparent;
    outline: none;
    font-family: inherit;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15384615;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-color: rgba(0, 89, 153, 0);
    box-shadow: 0 0 0 0 rgba(0, 149, 255, 0);
    color: #07C;
    width: 100%;
    margin-bottom: 6px;
}

.google-btn {
    border-color: #d6d9dc;
    background-color: #FFF;
    color: #535A60
}

.google-btn:hover, .google-btn:focus {
    border-color: #c8ccd0;
    background-color: #f7f7f7;
    color: #474d52
}

.google-btn:active {
    border-color: #bbc0c4;
    background-color: #eff0f1;
    color: #0C0D0E
}

.facebook-btn {
    border-color: transparent;
    background-color: #385499;
    color: #FFF
}

.facebook-btn:hover, .facebook-btn:focus {
    background-color: #314a86;
    color: rgba(255, 255, 255, 0.95)
}

.facebook-btn:active {
    background-color: #2a4074;
    color: #fff
}

.s-btn__icon .svg-icon {
    vertical-align: baseline;
    margin-top: -0.3em;
    margin-bottom: -0.3em;
    transition: opacity 200ms cubic-bezier(.165, .84, .44, 1)
}

.svg-icon {
    margin-right: 6px;
    vertical-align: bottom;
}

.input-icon .svg-icon {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 99;
    pointer-events: none
}

.s-signup._hero .-social .btn .svg-icon {
    vertical-align: text-bottom
}

.top-bar .-secondary .-link .svg-icon {
    vertical-align: text-top
}

.so-reaction .svg-icon {
    vertical-align: text-bottom;
    margin-right: 4px
}