.visibility-appear {
    opacity: 0;
    pointer-events: none;
}

.visibility-appear-done {
    opacity: 1;
    transition: opacity 0.2s;
}

.visibility-enter {
    width: 0px;
    height: 0px;
    opacity: 0;
    pointer-events: none;
}

.visibility-enter-active {
    width: 0px;
    height: 0px;
    opacity: 0;
    pointer-events: none;
}

.visibility-enter-done {
    opacity: 1;
    transition: opacity 0.2s;
}

.visibility-exit {
    opacity: 1;
    pointer-events: none;
}

.visibility-exit-active {
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;
}