<button [disabled]="this.Disabled" #item matSuffix mat-icon-button [title]="this.Action.Title" class="visibiliity-fades visibiliity-fade-out visibiliity-fade-removed" (click)="this.ClickAction();">
  <i [class]="this.Action.IconClass">{{ this.Action.IconDefinition }}</i>
</button>