<div [class]="this.ElementClass">
  <span [class]="this.TitleClass" style="text-align: center;" *ngIf="this.HasCallback">
    {{ this.Title }}<br>
    <span [class]="this.TitleClass" style="font-weight: 600;" *ngIf="this.HasCallback">
      {{ this.Callback }}
    </span>
  </span>
</div>
