.crud-template-internal-margin
{
    margin: 4px;
}
.crud-template-container
{
    border-bottom: solid 1px black;
}
.crud-template-container:last-child
{
    border-bottom: none;
}
.crud-template-item-actions-container
{
    display: flex;
    flex-direction: row;

    align-items: center;
    align-content: center;
    justify-content: flex-end;

    width: 120px;
}

.crud-list-item
{
    min-height: 150px;
    max-height: 150px;
}
.crud-list-item:hover
{
    color: white;
    background-color: #9ec0c2;
}