.crud-panel-container
{
    display: flex;
    flex-direction: column;

    margin-bottom: 8px;
    border-radius: 5px;
    background-color: white;
}
.crud-template-with-form-components
{
    height: 65px !important;
}