.flex-row
{
    display: flex;
    flex-flow: row;
}
.flex-row-gap-small
{
    row-gap: 2px;
}
.flex-row-gap-medium
{
    row-gap: 4px;
}
.flex-row-gap-large
{
    row-gap: 8px;
}
.flex-row-reverse
{
    display: flex;
    flex-flow: row-reverse;
}

.flex-column
{
    display: flex;
    flex-flow: column;
}
.flex-column-gap-small
{
    column-gap: 2px;
}
.flex-column-gap-medium
{
    column-gap: 4px;
}
.flex-column-gap-large
{
    column-gap: 8px;
}

.flex-grow { flex-grow: 1; }
.flex-wrap { flex-wrap: wrap; }
.flex-wrap-reverse { flex-wrap: wrap-reverse; }
.flex-align-center { align-items: center; }