.font-bold { font-weight: bold; }
.font-bolder { font-weight: bolder; }

.font-big { font-size: 28px; }
.font-bigger { font-size: 36px; }
.font-small { font-size: 11px; }
.font-large { font-size: 22px; }
.font-larger { font-size: 24px; }
.font-medium { font-size: 16px; }
.font-medium-large { font-size: 18px; }
.font-medium-small { font-size: 14px; }