.scaling-up-20
{
    transform: scale(1);

    -webkit-transition: transform 0.2s ease-in;
    -moz-transition: transform 0.2s ease-in;
    -ms-transition: transform 0.2s ease-in;
    -o-transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
}
.scaling-up-20:hover
{
    transform: scale(1.2);
}
.scaling-up-20:active
{
    transform: scale(1);
}

.scaling-up-40
{
    transform: scale(1);

    -webkit-transition: transform 0.1s ease-in;
    -moz-transition: transform 0.1s ease-in;
    -ms-transition: transform 0.1s ease-in;
    -o-transition: transform 0.1s ease-in;
    transition: transform 0.1s ease-in;
}
.scaling-up-40:hover
{
    transform: scale(1.4);
}
.scaling-up-40:active
{
    transform: scale(1);
}