﻿.cursor-pointer { cursor: pointer; }
.cursor-pointer-with-hover
{
    cursor: pointer;

    transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}
.cursor-pointer-with-hover:hover { box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); }

.full-size { width: 100%; height: 100%; }
.full-width { width: 100%; }
.full-height { height: 100%; }

.flex-row-component
{
    flex-grow: 1;
    margin-top: -12px;
    margin-left: 8px;
}
.flex-center
{
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}
.flex-center-vertically
{
    display: flex;
    align-content: center;
    justify-content: center;
}

.mat-form-field-infix
{
    width: auto !important;
}

.autocomplete-dropdown-body
{
    cursor: pointer;
    z-index: 1;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    max-height: 230px;
    overflow-y: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 6px;
}
.autocomplete-dropdown-item
{
    padding: 4px 8px;

    transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
}
.autocomplete-dropdown-item:hover
{
    background-color: #eeeeee;
}
.autocomplete-dropdown-item-hovered
{
    background-color: #eeeeee;
}

.dropdown:hover .dropdown-content
{
    display: block;
}

.margin-l { margin-left: 8px; }
.margin-r { margin-right: 8px; }
.margin-both { margin-left: 8px; margin-right: 8px; }

.small-form-component
{
    height: 25px;
    margin-top: 10px;
}
