.visibiliity-fades
{
    transition: opacity 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in;
    -ms-transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    -webkit-transition: opacity 0.2s ease-in;
}
.visibiliity-fade-out { opacity: 0; }
.visibiliity-fade-removed { display: none !important; }

.visibiliity-folding
{
    transform-origin: top;

    transition: transform 0.2s ease-out, height 0.2s ease-in 0.1s, opacity 0.2s ease-in;
    -o-transition: transform 0.2s ease-out, height 0.2s ease-in 0.1s, opacity 0.2s ease-in;
    -ms-transition: transform 0.2s ease-out, height 0.2s ease-in 0.1s, opacity 0.2s ease-in;
    -moz-transition: transform 0.2s ease-out, height 0.2s ease-in 0.1s, opacity 0.2s ease-in;
    -webkit-transition: transform 0.2s ease-out, height 0.2s ease-in 0.1s, opacity 0.2s ease-in;
}

.visibiliity-folded
{
    height: 0px;
    opacity: 0;
    
    transform: scale(1.0, 0.0);
    -o-transform: scale(1.0, 0.0);
    -ms-transform: scale(1.0, 0.0);
    -moz-transform: scale(1.0, 0.0);
    -webkit-transform: scale(1.0, 0.0);
}