<div class="flex-column" style="width: 100%;">
  <div class="flex-row cursor-pointer accordion-title" [ngStyle]="{ 'height': this.ItemHeight }"
    (click)="this.Toggle();">
    <div class="flex-row flex-grow" [ngStyle]="{ 'padding-left': this.ItemPadding, 'padding-right': this.ItemPadding }">
      <img *ngIf="this.Image" [src]="this.Image" [ngStyle]="{ 'margin-right': this.RightMargin }" />
      <i *ngIf="this.MaterialIcon" class="material-icons"
        [ngStyle]="{ 'margin-right': this.RightMargin }">{{ this.MaterialIcon }}</i>
      <i *ngIf="this.FontAwesomeIcon" [class]="this.FontAwesomeIcon"
        [ngStyle]="{ 'margin-right': this.RightMargin }"></i>

      <div class="flex-row flex-grow">
        <span class="flex-grow">{{ this.Text }}</span>
        <span>{{ this.Counter }}</span>
      </div>
    </div>
    <i *ngIf="this.HasItems" #icon class="margin-l fas fa-chevron-up accordion-icon"></i>
  </div>

  <div #panel class="accordion-container accordion-container-closed">
    <div class="flex-row">
      <div style="background-color: white; width: 4px;"></div>
      <div class="flex-column">
        <template #items></template>
      </div>
    </div>
  </div>
  <!-- <div [hidden]="!this.HasItems" #separator class="visibiliity-fades"></div> -->
</div>