<div class="flex-column full-size">
  <div *ngIf="this.HasTitle" class="font-large" style="margin-top: -8px; margin-bottom: 15px;">
    <b>{{ this.Definitions.Title }}</b>
  </div>
  <div class="flex-column flex-grow">
    <div class="full-width">
      <div class="crud-popup-grid">
        <template #_container></template>
      </div>
    </div>
  </div>
  <div *ngIf="this.CanAskForKeepInserting" class="flex-row">
    <mat-checkbox class="example-margin" [(ngModel)]="this.Definitions.KeepInserting">Continuar cadastrando</mat-checkbox>
  </div>
  <div class="flex-row">
    <button class="margin-r flex-grow z-button z-button-large z-button-borderless z-button-round z-button-40-h z-button-font-18 backcolor-primary color-white" [disabled]="this.Busy" (click)="this.SendRequest()">
      <i *ngIf="this.Busy" class="fa fa-circle-notch fa-spin fa-lg"></i>
      <span *ngIf="!this.Busy">{{ this.Definitions.TitleActionConfirm }}</span>
    </button>
    <button #closeButton [mat-dialog-close]="true" class="margin-l flex-grow z-button z-button-large z-button-borderless z-button-round z-button-40-h z-button-font-18 backcolor-gray color-black" [disabled]="this.Busy">
      <i *ngIf="this.Busy" class="fa fa-circle-notch fa-spin fa-lg"></i>
      <span *ngIf="!this.Busy">{{ this.Definitions.TitleActionDeny }}</span>
    </button>
  </div>
</div>