.waiting-loader-body
{
    width: 100%;
    height: 100%;
    position: absolute;

    z-index: 5000;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    
    background-color: rgba(255, 255, 255, 0.40);

    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}
.waiting-loader-body-hide { display: none; }
.waiting-loader-body-fade-in { opacity: 1; }
.waiting-loader-body-fade-out { opacity: 0; }

.waiting-loader-content
{
    color: black;
    opacity: 0.60;
    text-align: center;
}