<div [class]="this.DisplayClass">
  <span class="margin-l font-medium-small"
    style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden; cursor: pointer;" [title]="this.CompanyName"
    (click)="this.ViewCompany();">{{ this.CompanyName }}</span>
  <div style="text-align: center; font-weight: 600;">
    <span class="margin-l font-medium">{{ this.CallTime }}</span>
    <button *ngIf="!this.IsClearing" mat-button mat-icon-button title="Remover"
      (click)="this.ClearCallback(); $event.stopPropagation();">
      <i class="font-bold fas fa-times"></i>
    </button>
  </div>
  <div class="line-gray"></div>
</div>
