<div [class]="this.RowClass" (click)="this.ItemClicked()">
  <div class="full-size flex-center-vertically">
    <div class="crud-template-internal-margin flex-column full-width">
      <div class="flex-column" style="justify-content: space-between;">
        <div class="flex-row" style="justify-content: space-between;">
          <div class="font-medium-small">{{ this.Number }}</div>
          <div class="font-medium-small" [title]="this.Operator">{{ this.Operator }}</div>
        </div>
        <div *ngIf="this.HasPortabilityDate" class="flex-row font-small" style="justify-content: flex-end;">
          {{ this.PortabilityDate }}
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!this.LastChild" class="line-black"></div>
</div>
