<div class="flex-column full-size">
  <span class="font-large">Trocar Contas</span>
  <div class="flex-column flex-grow" style="margin-top: 18px; margin-bottom: 6px;">
    <template #container></template>
  </div>
  <div class="flex-row">
    <button class="margin-r flex-grow z-button z-button-large z-button-borderless z-button-round z-button-40-h z-button-font-18 backcolor-primary color-white" [disabled]="this.Busy || !this.ChangeEnabled" (click)="this.ChangeAccount()">
      <i *ngIf="this.Busy" class="fa fa-circle-notch fa-spin fa-lg"></i>
      <span *ngIf="!this.Busy">Trocar de conta</span>
    </button>
    <button #closeButton [mat-dialog-close]="true" class="margin-l flex-grow z-button z-button-large z-button-borderless z-button-round z-button-40-h z-button-font-18 backcolor-gray color-black" [disabled]="this.Busy">
      <i *ngIf="this.Busy" class="fa fa-circle-notch fa-spin fa-lg"></i>
      <span *ngIf="!this.Busy">Cancelar</span>
    </button>
  </div>
</div>