<div [class]="this.RowClass" (click)="this.ItemClicked()">
  <div class="full-size flex-center-vertically">
    <div class="crud-template-internal-margin flex-column full-width">
      <div class="flex-column" style="justify-content: space-between;">
        <div class="font-medium flex-column" style="justify-content: flex-start;">
          <div class="font-medium"><b>{{ this.Name }}</b></div>
        </div>
        <div class="font-medium-small">
          <i class="flex-row">
            <div class="font-medium-small margin-r">Instâncias: {{ this.Instances }}</div>
            <div class="font-medium-small margin-r" *ngIf="this.HasStarting">Inicia: {{ this.Starting }}h</div>
            <div class="font-medium-small margin-r" *ngIf="this.HasEnding">Finaliza: {{ this.Ending }}h</div>
          </i>
        </div>
        <div class="font-medium-small">
          <i class="flex-row">
            <div class="font-medium-small margin-r">Desliga máquina ao finalizar: {{ this.Shutsdown }}</div>
            <div class="font-medium-small margin-r">Segundo plano: {{ this.Background }}</div>
          </i>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!this.LastChild" class="line-black"></div>
</div>
