<div [class]="this.RowClass" (click)="this.ItemClicked()">
  <div class="full-size flex-center-vertically">
    <div class="crud-template-internal-margin flex-column full-width">
      <div class="font-medium-small  flex-column full-size">
        <div class="flex-row full-size" style="justify-content: space-around;">
          <table class="full-width">
            <tr>
              <td style="width: 15%; text-align: left; text-overflow: ellipsis;">{{ this.Product }}</td>
              <td style="width: 15%; text-align: left; text-overflow: ellipsis;">{{ this.Instance }}</td>
              <td style="width: 15%; text-align: left; text-overflow: ellipsis;">{{ this.ServiceAddress }}</td>
              <td style="width: 150px; text-align: center; text-overflow: ellipsis;">{{ this.ActivationDate }}</td>
              <td style="width: 90px; text-align: center; text-overflow: ellipsis;">{{ this.ChargeProfile }}</td>
              <td style="width: 90px; text-align: center; text-overflow: ellipsis;">{{ this.Status }}</td>
              <td style="width: 90px; text-align: center; text-overflow: ellipsis;">{{ this.TecnologyAccess }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!this.LastChild" class="line-black"></div>
</div>
