<div [class]="this.SetClass()" [ngStyle]="this.SetStyle()">
  <mat-form-field #matFormField class="full-size" (focusout)="this.FocusOut();">
    <input #inputField [formControl]="Control" matInput [maxlength]="this.MaxLength" [(ngModel)]="this.Value" placeholder="{{ this.Placeholder }}" (keyup.enter)="Send();" (keyup)="Validate();" [required]="this.Required">
    <mat-hint *ngIf="this.ShowHint()">{{inputField.value?.length || 0}}/{{ this.MaxLength }}</mat-hint>
    <button tabindex="-1" mat-button *ngIf="this.Value && this.CanClear" [disabled]="this.Disabled" matSuffix mat-icon-button aria-label="Clear" (click)="this.ClearValue(); $event.stopPropagation();">
      <mat-icon>close</mat-icon>
    </button>
    <mat-error *ngIf="!this.Value && this.Required">
      O campo {{ this.Warning }} é <strong>obrigatório</strong>
    </mat-error>
  </mat-form-field>
</div>