<div [class]="this.RowClass" (click)="this.ItemClicked()">
    <div class="full-size flex-center-vertically">
      <div class="crud-template-internal-margin flex-column full-width">
        <div class="flex-row" style="justify-content: space-between;">
          <span class="font-medium-small"><b>{{ this.Name }}</b></span>
          <span class="font-medium-small"><i>{{ this.Cnpj }}</i></span>
        </div>
        <div class="flex-row" style="justify-content: space-between;">
          <div class="flex-row">
            <span class="font-medium-small"><b>Site:</b> {{ this.Site }}, <b>Email:</b> {{ this.Email }}, <b>Contato:</b> {{ this.Phone }}</span>
          </div>
          <span class="font-medium-small"><i>{{ this.Fee }}</i></span>
        </div>
      </div>
    </div>
    <div *ngIf="!this.LastChild" class="line-black"></div>
  </div>