<div [class]="this.RowClass" (click)="this.ItemClicked()">
    <div class="full-size flex-center-vertically">
      <div class="crud-template-internal-margin flex-column full-width">
        <div class="flex-column" style="justify-content: space-between;">
          <span class="font-medium-small"><b>{{ this.Account }}</b> - {{ this.Name }}</span>
          <span class="font-medium-small"><i>{{ this.Priority }}</i></span>
        </div>
      </div>
    </div>
    <div *ngIf="!this.LastChild" class="line-black"></div>
  </div>