<h2>{{Title}}</h2>
<mat-dialog-content>
  <div>{{Message}}</div>
  <mat-form-field class="flex-grow full-width" style="margin-top: 8px;">
    <input matInput #input [type]="this.ComponentType" [placeholder]="this.Placeholder" (keyup.enter)="this.Confirm();">
  </mat-form-field>  
</mat-dialog-content>
<mat-dialog-actions class="flex-row" style="justify-content: flex-end;">
  <button #confirmButton [mat-dialog-close]="true" [class]="this.ConfirmClass" style="margin-right: 15px; min-width: 80px;" (click)="this.SendConfirmationText();">{{ this.LabelYes }}</button>
  <button [mat-dialog-close]="false" [class]="this.DenyClass" style="min-width: 80px;">{{ this.LabelNo }}</button>
</mat-dialog-actions>