<div class="flex-column full-size">
  <span *ngIf="this.HasTitle" class="font-large flex-center" style="margin-bottom: 8px;">{{ this.Title }}</span>
  <div class="flex-row flex-grow" style="margin-bottom: 12px;">
    <app-crud-select #availableItems></app-crud-select>
    <div *ngIf="!this.ViewOnly" class="flex-column flex-center" style="justify-content: space-evenly;">
      <button mat-icon-button class="z-button z-button-hover z-button-40-h" [disabled]="this.Busy" (click)="this.AddSelected(); $event.stopPropagation();">
          <i class="material-icons" title="Adicionar selecionadas">chevron_right</i>
      </button>
      <button mat-icon-button class="z-button z-button-hover z-button-40-h" [disabled]="this.Busy" (click)="this.AddAll(); $event.stopPropagation();">
        <i class="material-icons" title="Adicionar tudo">last_page</i>
      </button>
      <button mat-icon-button class="z-button z-button-hover z-button-40-h" [disabled]="this.Busy" (click)="this.RemoveAll(); $event.stopPropagation();">
        <i class="material-icons" title="Remover tudo">first_page</i>
      </button>
      <button mat-icon-button class="z-button z-button-hover z-button-40-h" [disabled]="this.Busy" (click)="this.RemoveSelected(); $event.stopPropagation();">
        <i class="material-icons" title="Remover selecionadas">chevron_left</i>
      </button>
    </div>
    <app-crud-select #nonAvailableItems></app-crud-select>
  </div>
  <div *ngIf="this.HasButtonBar" class="flex-row">
    <button style="width: 50%; overflow-y: auto;" class="margin-r z-button z-button-large z-button-borderless z-button-round z-button-40-h z-button-font-18 backcolor-primary color-white" [disabled]="this.Busy" (click)="this.SaveChanges()">
      <i *ngIf="this.Busy" class="fa fa-circle-notch fa-spin fa-lg"></i>
      <span *ngIf="!this.Busy">Salvar Alterações</span>
    </button>
    <button style="width: 50%;" #closeButton [mat-dialog-close]="true" class="margin-l z-button z-button-large z-button-borderless z-button-round z-button-40-h z-button-font-18 backcolor-gray color-black" [disabled]="this.Busy">
      <i *ngIf="this.Busy" class="fa fa-circle-notch fa-spin fa-lg"></i>
      <span *ngIf="!this.Busy">Cancelar</span>
    </button>
  </div>
</div>