<div class="flex-column full-size">
  <app-crud-filter #filter></app-crud-filter>
  <div #container class="flex-column full-size visibiliity-fades visibiliity-fade-out" style="margin-top: 0px;">
    <div class="flex-row" style="height: 300px;">
      <div class="white-card flex-grow">
        <app-bi-chart #chartLines></app-bi-chart>
      </div>
    </div>
    <div class="flex-row" style="height: 200px;">
      <div class="white-card flex-grow">
        <app-bi-chart #chartSmartCnpj></app-bi-chart>
      </div>
      <div class="white-card margin-l flex-grow">
        <app-bi-chart #chartSmartZipNumber></app-bi-chart>
      </div>
    </div>
    <div class="flex-row" style="height: 200px;">
      <div class="white-card flex-grow">
        <app-bi-chart #chartCnpj></app-bi-chart>
      </div>
      <div class="white-card margin-l flex-grow">
        <app-bi-chart #chartAbr></app-bi-chart>
      </div>
    </div>
  </div>
</div>
