
.color-text { color: #393F56 !important; }
.color-text-light { color: #DDDDDD !important; }

.color-ok { color: #13cd6f !important; }
.color-delete { color: #df405b !important; }
.color-warning { color: #fdb54f !important; }

.color-back { color: #f0fcf2 !important; }
.color-gray { color: #AAAAAA !important; }
.color-black { color: black !important; }
.color-white { color: #ffffff !important; }
.color-update { color: #393F56 !important; }
.color-primary { color: #bac3c5 !important; }
.color-secondary { color: #393F56 !important; }
.color-gray-light { color: #DDDDDD !important; }

.backcolor-ok { background-color: #13cd6f !important; }
.backcolor-back { background-color: #f0fcf2 !important; }
.backcolor-gray { background-color: #AAAAAA !important; }
.backcolor-white { background-color: #ffffff !important; }
.backcolor-delete { background-color: #df405b !important; }
.backcolor-primary { background-color: #9ec0c2 !important; }
.backcolor-secondary { background-color: #393F56 !important; }
.backcolor-gray-light { background-color: #DDDDDD !important; }
.backcolor-transparent { background-color: transparent !important; }

.line-back { width: 100%; height: 1px; clear: both; overflow: hidden; border-bottom: 1px solid #f0fcf2; }
.line-gray { width: 100%; height: 1px; clear: both; overflow: hidden; border-bottom: 1px solid #AAAAAA; }
.line-black { width: 100%; height: 1px; clear: both; overflow: hidden; border-bottom: 1px solid #000000; }
.line-white { width: 100%; height: 1px; clear: both; overflow: hidden; border-bottom: 1px solid #ffffff; }
.line-primary { width: 100%; height: 1px; clear: both; overflow: hidden; border-bottom: 1px solid #bac3c5; }
.line-secondary { width: 100%; height: 1px; clear: both; overflow: hidden; border-bottom: 1px solid #393F56; }

.line-back-thick { width: 100%; height: 2px; clear: both; overflow: hidden; border-bottom: 2px solid #f0fcf2; }
.line-gray-thick { width: 100%; height: 3px; clear: both; overflow: hidden; border-bottom: 2px solid #AAAAAA; }
.line-primary-thick { width: 100%; height: 4px; clear: both; overflow: hidden; border-bottom: 4px solid #bac3c5; }
.line-secondary-thick { width: 100%; height: 2px; clear: both; overflow: hidden; border-bottom: 4px solid #393F56 !important; }
.line-secondary-thick-white { width: 100%; height: 2px; clear: both; overflow: hidden; border-bottom: 4px solid #FFFFFF !important; }

.white-card
{
    margin-bottom: 8px;
    border-radius: 5px;
    background-color: white;
}
.white-card-marginless
{
    border-radius: 5px;
    background-color: white;
}
