<div class="flex-row" [ngStyle]="this.SetStyle()" style="align-content: center; margin-bottom: 20px;">
  <mat-form-field class="full-size" (focusout)="this.FocusOut();">
    <textarea matInput #inputField [formControl]="Control" [maxlength]="this.MaxLength" [(ngModel)]="this.Value" placeholder="{{ this.Placeholder }}" [required]="this.Required" style="min-height: 45px;"></textarea>
    <mat-hint *ngIf="this.ShowHint()" align="end">{{ this.HintDisplay() }}</mat-hint>
    <button tabindex="-1" mat-button *ngIf="this.Value && this.CanClear" [disabled]="this.Disabled" matSuffix mat-icon-button aria-label="Clear" (click)="this.ClearValue(); $event.stopPropagation();">
      <mat-icon>close</mat-icon>
    </button>
    <mat-error *ngIf="!this.Value && this.Required">
      O campo {{ this.Warning }} é <strong>obrigatório</strong>
    </mat-error>
  </mat-form-field>
</div>