<div class="flex-column full-size">
  <div class="flex-row flex-center-vertically" style="margin-bottom: 12px; justify-content: space-between;">
    <div class="font-medium flex-center"><i>{{ this.ComaniesReturned }}</i></div>
    <div class="flex-row">
      <button [disabled]="!this.CanDefineTargets"
        class="margin-l z-button z-button-large z-button-borderless z-button-round z-button-40-h font-medium-small backcolor-ok color-white"
        style="position: relative; width: 120px;" (click)="this.DefineTargets();">
        <span>Definir<br>alvos</span>
        <i class="fas fa-check" style="position: absolute; left: 6px;"></i>
      </button>
      <button [disabled]="!this.CanClearTargets"
        class="margin-l z-button z-button-large z-button-borderless z-button-round z-button-40-h font-medium-small backcolor-delete color-white"
        style="position: relative; width: 120px;" (click)="this.ClearTargets();">
        <span>Limpar<br>alvos</span>
        <i class="fas fa-times" style="position: absolute; left: 6px;"></i>
      </button>
    </div>
  </div>
  <module-basic-default-select-with-filter #component></module-basic-default-select-with-filter>
</div>
