.side-bar-body
{
    width: 266px;
    height: 100%;

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;

    background-color: #393F56;
    
    transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.side-bar-body-hidden
{
    width: 0px;
}

.side-bar-logo
{
    max-width: 100%;
    height: 180px;
}
.side-bar-logo-container
{
    width: 100%;
    height: 64px;

    display: flex;
    flex-direction: column;

    color: white;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

.side-bar-account-picker-container
{
    width: 100%;
    height: 40px;
    cursor: pointer;

    color: white;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    border-bottom: solid 1px white;
}