<div class="flex-column">
  <app-crud-filter #filter></app-crud-filter>
  <div #container class="flex-column">
    <div class="flex-row " style="align-items: flex-start !important; height: 600px;">
      <div class="full-size white-card" style="width: 65%;">
        <app-bi-chart #chartLines></app-bi-chart>
      </div>
      <div class="margin-l full-size white-card" style="width: 35%;">
        <app-bi-chart #chartPie></app-bi-chart>
      </div>
    </div>
    <div style="margin-top: 6px;">
      <app-company-lister #companies></app-company-lister>
    </div>
  </div>
</div>
