<div class="select-pagination-body">
  <div *ngIf="this.Busy"><i *ngIf="this.Busy" class="fa fa-circle-notch fa-spin fa-lg"></i></div>
  <div *ngIf="!this.Busy" [class]="this.MessageClass">{{ this.Message }}</div>
  <app-crud-select-pagination-panel #paginationPanel></app-crud-select-pagination-panel>
</div>