.select-pagination-body
{
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;

    display: flex;
    flex-direction: row;

    align-items: center;
    align-content: center;
    justify-content: space-between;
    
    border-top: solid 1px gray;
}