<div class="yearMonthPickerContainer">
  <mat-form-field class="yearMonthPickerItem">
    <mat-select autofocus placeholder="Selecione um Ano" [(ngModel)]="this.Year" (selectionChange)="this.ChangeYear($event);">
      <mat-option *ngFor="let year of this.Years" [value]="year">
        {{ year }}
      </mat-option>
    </mat-select>
  </mat-form-field>	
  
  <mat-form-field class="yearMonthPickerItem">
    <mat-select autofocus placeholder="Selecione um Mês" [(ngModel)]="this.Month" (selectionChange)="this.ChangeMonth($event);">
      <mat-option *ngFor="let month of this.Months" [value]="month">
        {{ month }}
      </mat-option>
    </mat-select>
  </mat-form-field>	
</div>