@media (min-width: 500px) { .yearMonthPickerContainer { flex-direction: row; } }
@media (max-width: 500px) { .yearMonthPickerContainer { flex-direction: column; } }

.yearMonthPickerContainer
{
    display: flex;
}

.yearMonthPickerItem
{
    flex-grow: 1;
}
.yearMonthPickerItem:not(:first-child)
{
    margin-left: 5px;
}