<div class="flex-column full-size">
  <div class="flex-center config-user-edit-logo-container">
    <button class="config-user-edit-logo-content z-button z-button-round z-button-50-square">
      <i class="fas fa-user color-gray" style="font-size: 72px; margin-top: -4px;"></i>
    </button>
  </div>
  <div style="margin-top: 8px; margin-bottom: 8px;" class="flex-column flex-grow">
    <template #_container></template>
  </div>
  <div class="flex-row">
    <button class="flex-grow z-button z-button-large z-button-borderless z-button-round z-button-40-h z-button-font-18 backcolor-primary color-white" [disabled]="true" (click)="this.ConfirmUpdate();">
      <i *ngIf="this.Busy" class="fa fa-circle-notch fa-spin fa-lg"></i>
      <span *ngIf="!this.Busy">Alterar Senha</span>
    </button>
    <button [disabled]="this.ValidInformation" class="margin-both flex-grow z-button z-button-large z-button-borderless z-button-round z-button-40-h z-button-font-18 backcolor-primary color-white" [disabled]="this.Busy || !this.ValidInformation" (click)="this.ConfirmUpdate();">
      <i *ngIf="this.Busy" class="fa fa-circle-notch fa-spin fa-lg"></i>
      <span *ngIf="!this.Busy">Salvar Alterações</span>
    </button>
    <button #closeButton [mat-dialog-close]="true" class="flex-grow z-button z-button-large z-button-borderless z-button-round z-button-40-h z-button-font-18 backcolor-gray color-black" [disabled]="this.Busy">
      <i *ngIf="this.Busy" class="fa fa-circle-notch fa-spin fa-lg"></i>
      <span *ngIf="!this.Busy">Cancelar</span>
    </button>
  </div>
</div>