<div [class]="this.SetClass()" [ngStyle]="this.SetStyle()">
  <mat-form-field #matFormField class="full-size" (focusout)="this.FocusOut();">

    <mat-select *ngIf="this.MultiSelect" #inputField placeholder="{{ this.Placeholder }}" [(ngModel)]="this.Value"
      [required]="this.Required" (selectionChange)="this.ValueChanged()" multiple>
      <mat-option *ngFor="let item of this.Items" [value]="item.Id">
        {{ item.Label }}
      </mat-option>
    </mat-select>

    <mat-select *ngIf="!this.MultiSelect" #inputField placeholder="{{ this.Placeholder }}" [(ngModel)]="this.Value"
      [required]="this.Required" (selectionChange)="this.ValueChanged()">
      <mat-option *ngFor="let item of this.Items" [value]="item.Id">
        {{ item.Label }}
      </mat-option>
    </mat-select>

    <mat-error *ngIf="!this.Value && this.Required">
      O campo {{ this.Warning }} é <strong>obrigatório</strong>
    </mat-error>
    <button tabindex="-1" mat-button *ngIf="this.HasValue && this.CanClear" [disabled]="this.Disabled" matSuffix
      mat-icon-button aria-label="Clear" (click)="this.ClearValue(); $event.stopPropagation();">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
