<div class="flex-column full-size" style="overflow-x: hidden; overflow-y: hidden;">
  <app-crud-filter #filter></app-crud-filter>
  <div #container class="full-height visibiliity-fades visibiliity-fade-out visibiliity-fade-removed" style="margin-top: 0px;">
    <div class="flex-row" style="height: 95px; padding-right: 6px;">
      <bi-card #biCardTotalDone></bi-card>
      <bi-card #biCardTotalToDo></bi-card>
    </div>
    <div class="flex-row full-height" style="margin-top: 6px;">
      <div class="white-card" style="width: 65%;">
        <app-bi-chart #chartLines></app-bi-chart>
      </div>
      <div class="flex-column margin-l" style="width: 35%;">
        <div class="white-card" style="margin-bottom: 6px; height: 50%;">
          <app-bi-chart #chartLinesPie></app-bi-chart>
        </div>
        <div class="white-card" style="height: 50%;">
          <app-bi-chart #chartAddressPie></app-bi-chart>
        </div>
      </div>
    </div>
  </div>
</div>
