<div [class]="this.RowClass" (click)="this.ItemClicked()">
  <div class="full-size flex-center-vertically">
    <div class="crud-template-internal-margin flex-column full-width">
      <div class="flex-row flex-center" style="justify-content: space-between;">
        <div class="font-medium-small flex-column flex-center-vertically" style="justify-content: flex-start;">
          <div class="font-medium"><b>{{ this.Name }}</b></div>
          <div class="flex-row full-width" style="justify-content: flex-start;">
            <div *ngIf="this.HasPhone" class="margin-r"><b>Fone: </b>{{ this.Phone }}</div>
            <div *ngIf="this.HasCnpj" class="margin-r"><b>Cnpj: </b>{{ this.Cnpj }}</div>
            <div *ngIf="this.HasCapital" class="margin-r"><b>Capital Social: </b>{{ this.Capital }}</div>
          </div>
          <div *ngIf="this.HasLastNote" class="text-small"><b>Última anotação:</b> <i>{{ this.LastNote }}</i></div>
          <div *ngIf="this.HasLastTab" class="text-small"><b>Última tabulação:</b> <i>{{ this.LastTab }}</i></div>
        </div>
        <div class="flex-row flex-center">
          <app-company-callback-label [Model]="this.Model.Callback"></app-company-callback-label>
          <app-item-company-actions #actions></app-item-company-actions>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!this.LastChild" class="line-black"></div>
</div>
