<div [class]="this.RowClass" (click)="this.ItemClicked()">
  <div class="full-size flex-center-vertically">
    <div class="crud-template-internal-margin flex-column full-width">
      <div class="font-medium-small  flex-column full-size">
        <div class="flex-row full-size" style="justify-content: space-between;">
          <div>{{ this.Address }}</div>
          <div><b>{{ this.Message }}</b></div>
        </div>
        <div *ngIf="this.Tested" class="flex-row full-size" style="justify-content: space-between;">
          <div>
            <b>Dst.Arm: </b>{{ this.ClosetDistance }}&nbsp;
            <b>Vel.Max: </b>{{ this.ClosetTopSpeed }}&nbsp;
            <b>Rede: </b>{{ this.Network }}&nbsp;
            <b>Tecn: </b>{{ this.Tecnology }}&nbsp;
            <b>TV: </b>{{ this.TecnologyTv }}&nbsp;
          </div>
          <div>
            <b>Linhas: </b>{{ this.Lines }}&nbsp;
            <b>Até 20: </b>{{ this.Until20 }}&nbsp;
            <b>Acima 20: </b>{{ this.Above20 }}&nbsp;
            <b>Acima 50: </b>{{ this.Above50 }}&nbsp;
          </div>
        </div>
        <div *ngIf="this.Tested" class="flex-row full-size font-small"><i>Testado em {{ this.TestedIn }}</i></div>
        <div *ngIf="!this.Tested" class="flex-row full-size"><i>Endereço ainda não foi testado...</i></div>
      </div>
    </div>
  </div>
  <div *ngIf="!this.LastChild" class="line-black"></div>
</div>
