<div [class]="this.RowClass" (click)="this.ItemClicked()">
  <div class="full-size flex-center-vertically">
    <div class="crud-template-internal-margin flex-column full-width">
      <div class="flex-row" style="justify-content: space-between;">
        <div class="font-medium"><b>{{ this.Name }}</b></div>
        <div class="font-medium-small"><i>{{ this.Url }}</i></div>
      </div>
      <div class="flex-column" style="justify-content: space-between;">
        <div class="font-medium-small">Login: {{ this.Login }}, Senha: {{ this.Password }}</div>
      </div>
    </div>
  </div>
  <div *ngIf="!this.LastChild" class="line-black"></div>
</div>
