<div class="flex-column" style="max-height: 300px; background-color: white;">
  <div class="font-medium flex-center" style="height: 30px; text-align: center; font-weight: 600; color: black;">
    Próximas ligações agendadas
    <i *ngIf="this.Busy" class="fa fa-circle-notch fa-spin fa-lg"></i>
  </div>
  <div class="line-black"></div>
  <div *ngIf="this.HasNoCallbacks && !this.Busy" class="flex-center" style="height: 60px; font-weight: 100; text-align: center; font-style: italic">
    Não há ligações agendadas
  </div>
  <div *ngIf="this.HasModels && !this.Busy" class="flex-column" style="overflow-y: auto;">
    <app-comany-callback-item *ngFor="let item of this.Models" [Model]="item"></app-comany-callback-item>
  </div>
</div>
