<div class="flex-row flex-grow" [ngStyle]="this.SetStyle()">
  <i *ngIf="this.Loading" class="fa fa-circle-notch fa-spin fa-lg"></i>

  <mat-form-field #matFormField #formContainer class="flex-grow full-size" (focusout)="this.FocusOut();"
    (focusin)="this.FocusIn();">

    <mat-chip-list #chipList aria-label="item selection">
      <mat-chip *ngFor="let selectedItem of this.SelectedItems" [selectable]="true" [removable]="true"
        (removed)="this.RemoveItem(selectedItem)">
        {{ selectedItem.Label }}
        <mat-icon matChipRemove>remover</mat-icon>
      </mat-chip>

      <input placeholder="{{ this.Placeholder }}" #inputField [formControl]="Control" [matAutocomplete]="auto"
        [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="this.SeparatorKeysCodes"
        [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="this.AddChip($event)" [required]="this.Required">
      <mat-error *ngIf="this.ShowWarning">
        <span>O campo {{ this.Warning }} é <strong>obrigatório</strong></span>
      </mat-error>
    </mat-chip-list>

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="this.ItemSelected($event)">
      <mat-option *ngFor="let item of this.FilteredItems | async" [value]="item">
        {{ item.Label }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

</div>
