.header-body
{
    width: 100%;
    height: 64px;

    display: flex;
    flex-direction: column;

    background-color: #FFFFFF;
}
.header-title-panel
{
    justify-content: flex-start;
}
.header-title-panel-title
{
    align-items: flex-start;
    align-content: center;
    justify-content: center;
}
.header-title-panel-logo
{
    align-content: flex-end;
}
.header-login-panel
{
    align-items: center;
    margin-right: 12px;
    justify-content: flex-end;
}
.header-login-info
{
    margin: 2px 6px 2px 6px;
    align-content: flex-end;
    justify-content: center;
}
.header-login-info-username
{
    color: #999999;
}
.header-login-info-permission
{
    color: #bbbbbb;
}