<div class="flex-row autocomplete-dropdown-item" style="align-items: center; align-content: center; justify-items: flex-start;" (click)="this.ToggleSelection()">
  <input *ngIf="this.ShowSelectionBox" #inputField [formControl]="Control" [value]="this.IsSelected()" type="checkbox" />
  <span>{{ this.Label }}</span>
</div>