.accordion-icon
{
    transform: rotate(180deg);
    
    transition: transform 0.2s ease-out;
    -o-transition: transform 0.2s ease-out;
    -ms-transition: transform 0.2s ease-out;
    -moz-transition: transform 0.2s ease-out;
    -webkit-transition: transform 0.2s ease-out;
}
.accordion-icon-opened
{
    transform: rotate(0deg);
}

.accordion-title
{
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
.accordion-container
{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    
    overflow: hidden;
    transform-origin: top;
      
    transition: transform 0.2s ease-out;
    -o-transition: transform 0.2s ease-out;
    -ms-transition: transform 0.2s ease-out;
    -moz-transition: transform 0.2s ease-out;
    -webkit-transition: transform 0.2s ease-out;
}
.accordion-container-closed
{
    height: 0px;
    overflow: hidden;
    transform: scaleY(0);
}