:root {
	--primary: #093082;
	--secondary: #9cf3ff;

	--info: #1e88dd;
	--error: #de3d31;
	--alert: #e88a00;
	--success: #459f49;

	--gray: #5c5c5c;
	--black: #000;
	--white: #fff;
	--background: beige;
}

html {
	width: 350px;
	/* height: 200px; */

	margin: 0px;
	background-color: var(--background);
}
body {
	margin: 0px;
}

button {
	width: 100%;
	height: 35px;
	margin-top: 6px;
	border-radius: 8px;

	border: none;
	cursor: pointer;

	color: var(--white);
	background-color: var(--primary);
}

h1 {
	color: var(--white);
	background-color: var(--primary);

	margin: 0px;
	padding: 4px;
}
h3,
h5 {
	width: 100%;
}

.header {
	color: var(--white);
	background-color: var(--primary);

	margin: 0px;
	padding: 4px;

	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}
.headerClose {
	cursor: pointer;
	font-size: 22px;
	margin-right: 6px;
}

.loginForm {
	width: 330px;
	height: 100%;
	padding: 6px;
	display: flex;
	flex-direction: column;
}

.loginFormTitle {
	color: var(--black);
	font-size: 20px;
	margin: 0px;
	font-weight: 600;
}
.loginFormLabel {
	min-width: 50px;
}
.loginFormEntry {
	width: 100%;
}
.loginFormInput {
	margin-top: 6px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
