<div [class]="this.RowClass" (click)="this.ItemClicked()">
  <div class="full-size flex-center-vertically">
    <div class="crud-template-internal-margin flex-column full-width">
      <div class="flex-row flex-center" style="justify-content: space-between;">
        <div class="font-medium-small flex-column flex-center-vertically" style="justify-content: flex-start;">
          <div class="font-medium"><b>{{ this.Name }}</b></div>
        </div>
        <button mat-button mat-icon-button title="Detalhes" (click)="this.ViewDetails(); $event.stopPropagation();">
          <i class="font-bold font-large fa fa-info"></i>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="!this.LastChild" class="line-black"></div>
</div>
