<div [class]="this.SetClass()" [ngStyle]="this.SetStyle()">
  <mat-form-field #matFormField class="full-size" (focusout)="this.FocusOut();">
    <input matInput #inputField [formControl]="Control" [matDatepicker]="pickerDate" [maxlength]="8"
      [(ngModel)]="this.Value" placeholder="{{ this.Placeholder }}" (keyup.enter)="this.Send();"
      (dateChange)="this.DateChanged($event)" [required]="this.Required">
    <mat-datepicker-toggle matSuffix [for]="pickerDate"></mat-datepicker-toggle>
    <mat-datepicker #pickerDate></mat-datepicker>
    <button tabindex="-1" mat-button *ngIf="this.Value && this.CanClear" [disabled]="this.Disabled" matSuffix
      mat-icon-button aria-label="Clear" (click)="this.ClearValue(); $event.stopPropagation();">
      <mat-icon>close</mat-icon>
    </button>
    <mat-error *ngIf="!this.Value && this.Required">
      O campo {{ this.Warning }} é <strong>obrigatório</strong>
    </mat-error>
  </mat-form-field>


  <div *ngIf="this.HasHour" style="width: 140px">
    <app-combo-input #hourInput (focusout)="this.FocusOut();"></app-combo-input>
  </div>
  <div *ngIf="this.HasMinute" style="width: 140px">
    <app-combo-input #minuteInput (focusout)="this.FocusOut();"></app-combo-input>
  </div>
</div>