<div class="flex-column full-size" style="overflow-y: auto; padding: 6px;">
  <app-company-info-header #header></app-company-info-header>
  <app-company-info-relationships #relationships></app-company-info-relationships>
</div>
