.accordion-item
{
    cursor: pointer;

    padding-right: 0px;

    font-size: 14px;
    font-weight: 400;

    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    justify-content: flex-start;
}