<div class="accordion-item" [ngStyle]="{ 'height': this.ItemHeight, 'enabled': this.IsDisabled }" (click)="this.ClickAction();">
  <div *ngIf="this.HasIcon" class="flex-row" style="width: 40px; align-items: center; align-content: center; justify-content: center;">
    <img *ngIf="this.Image" [src]="this.Image"/>
    <i *ngIf="this.MaterialIcon" class="material-icons">{{ this.MaterialIcon }}</i>
    <i *ngIf="this.FontAwesomeIcon" [class]="this.FontAwesomeIcon"></i>
  </div>
  <div class="margin-l flex-row flex-grow">
    <span class="flex-grow">{{ this.Text }}</span>
    <span>{{ this.Counter }}</span>
  </div>
</div>