<div class="flex-column full-size">
  <div style="height: 50px;">
    <app-crud-filter #filter></app-crud-filter>
  </div>
  <div #container class="full-size visibiliity-fades visibiliity-fade-out visibiliity-fade-removed">
    <div class="flex-row" style="height: 95px;">
      <bi-card #biCardTotalDone></bi-card>
      <bi-card #biCardTotalToDo></bi-card>
    </div>
    <div class="flex-row" style="height: 500px; margin-top: 6px;">
      <div class="white-card full-size" style="width: 65%;">
        <bi-chart #chartLines></bi-chart>
      </div>
      <div class="flex-column margin-l full-size" style="width: 35%;">
        <div class="white-card" style="margin-bottom: 6px; height: 50%;">
          <bi-chart #chartLinesPie></bi-chart>
        </div>
        <div class="white-card" style="height: 50%;">
          <bi-chart #chartAddressPie></bi-chart>
        </div>
      </div>
    </div>
  </div>
</div>
