<div [class]="this.RowClass" (click)="this.ItemClicked()">
  <div class="full-size flex-center-vertically">
    <div class="crud-template-internal-margin flex-column full-width">
      <div class="font-medium-small flex-row" style="justify-content: space-between;">
        <div><b>{{ this.Name }}</b></div>
        <div><i>{{ this.Email }}</i></div>
      </div>
      <div class="font-medium-small" style="justify-content: space-between;">
        {{ this.Lines }}
      </div>
    </div>
  </div>
  <div *ngIf="!this.LastChild" class="line-black"></div>
</div>
