<div class="flex-column">
  <div *ngIf="this._UserData.IsManagementLevel" class="flex-column" style="margin-bottom: 6px;">
    <div>Atividades</div>
    <div class="line-black" style="margin-bottom: 6px;"></div>
    <div style="display: grid; grid-gap: 10px; grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));">
      <template #containerActivities></template>
    </div>
  </div>

  <div *ngIf="this._UserData.IsManagementLevel" class="flex-column" style="margin-bottom: 6px;">
    <div>Cadastros</div>
    <div class="line-black" style="margin-bottom: 6px;"></div>
    <div style="display: grid; grid-gap: 10px; grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));">
      <template #containerCrud></template>
    </div>
  </div>

  <div *ngIf="this._UserData.IsManagementLevel" class="flex-column" style="margin-bottom: 6px;">
    <div>Configurações</div>
    <div class="line-black" style="margin-bottom: 6px;"></div>
    <div style="display: grid; grid-gap: 10px; grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));">
      <template #containerUserConfig></template>
    </div>
  </div>

  <div class="flex-column" style="margin-bottom: 6px;">
    <div>{{ this.CompaniesTitle }}</div>
    <div class="line-black" style="margin-bottom: 6px;"></div>
    <div style="display: grid; grid-gap: 10px; grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));">
      <template #containerCompanies></template>
    </div>
  </div>

  <div class="flex-column" style="margin-bottom: 6px;">
    <div>Relatórios</div>
    <div class="line-black" style="margin-bottom: 6px;"></div>
    <div style="display: grid; grid-gap: 10px; grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));">
      <template #containerReports></template>
    </div>
  </div>
</div>