<div class="flex-colum flex-grow">
  <div *ngIf="this.HasTitle" class="crud-title-actions-container">
    <div class="margin-l"><b>{{ this.Title }}</b></div>
  </div>
  <div class="flex-column flex-grow">
    <div class="full-width">
      <div class="crud-popup-grid">
        <template #_container></template>
      </div>
    </div>
  </div>
</div>