<div [class]="this.SetClass()" [ngStyle]="this.SetStyle()">
  <i *ngIf="this.MaterialIcon" [ngStyle]="this.SetIconStyle()" class="material-icons flex-row">{{ this.MaterialIcon }}</i>
  <mat-form-field #matFormField class="flex-grow full-size" (focusin)="this.FocusIn();" (focusout)="this.FocusOut();">
    <input class="full-size" [ngStyle]="this.SetTransformStyle()" matInput #inputField [formControl]="Control" [type]="this.Type" [maxlength]="this.MaxLength" [(ngModel)]="this.Value" placeholder="{{ this.Placeholder }}" (keyup.enter)="this.OnSend.next();" (keyup)="Validate();" [required]="this.Required">
    <mat-hint *ngIf="this.ShowHint()" style="text-align: end;">{{ this.HintDisplay() }}</mat-hint>
    <button tabindex="-1" mat-button *ngIf="this.Value && this.CanClear" [disabled]="this.Disabled" matSuffix mat-icon-button aria-label="Clear" (click)="this.ClearValue(); $event.stopPropagation();">
      <mat-icon>close</mat-icon>
    </button>
    <mat-error *ngIf="!this.Value && this.Required && this.ShowWarning">
      <span *ngIf="!this.HasWarningMessage">O campo {{ this.Warning }} é <strong>obrigatório</strong></span>
      <span *ngIf="this.HasWarningMessage">{{ this.WarningMessage }}</span>
    </mat-error>
  </mat-form-field>
</div>