<mat-form-field class="full-size">
  <mat-select #select placeholder="{{ this.Placeholder }}" [(ngModel)]="this.Value" (selectionChange)="this.OnChange();" [required]="this.Required">
    <mat-option *ngFor="let hour of this.Hours" [value]="hour">{{ this.GetStringValue(hour) }}</mat-option>
  </mat-select>
  <button tabindex="-1" mat-button *ngIf="this.Value" [disabled]="this.Disabled" matSuffix mat-icon-button aria-label="Clear" (click)="this.ClearValue(); $event.stopPropagation();">
    <mat-icon>close</mat-icon>
  </button>
  <mat-error *ngIf="!this.Value && this.Required">
    O campo {{ this.Warning }} é <strong>obrigatório</strong>
  </mat-error>
</mat-form-field>