<div [class]="this.RowClass" (click)="this.ItemClicked()">
  <div class="full-size flex-center-vertically">
    <div class="crud-template-internal-margin flex-column full-width">
      <div class="flex-row flex-center" style="justify-content: space-between;">
        <div class="font-medium-small flex-column flex-center-vertically" style="justify-content: flex-start;">
          <div class="flex-row full-size" style="justify-content: space-between;">
            <div><b>{{ this.Name }}</b></div>
          </div>
          <div>{{ this.Phone }}{{ this.Separator }}{{ this.Cnpj }}</div>
        </div>
        <div class="flex-row flex-center">
          <app-company-callback-label [Model]="this.Model.Callback"></app-company-callback-label>
          <app-item-company-actions #actions></app-item-company-actions>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!this.LastChild" class="line-black"></div>
</div>
