<div class="flex-column full-size">
    <div class="flex-column full-width flex-center" style="height: 50px; justify-content: space-around !important;">
        <span>{{ this.Title }}</span>
        <div class="flex-row full-width flex-center" style="margin-top: -6px;">
            <span class="flex-grow" style="text-align: center;">{{ this.Label }}</span>
            <span style="width: 60px; text-align: center;">{{ this.ValueLabel }}</span>
        </div>
    </div>
    <div class="line-gray-thick" style="margin-top: -6px;"></div>
    <div class="full-width" style="overflow-x: hidden; overflow-y: auto;">
        <div *ngFor="let item of this.Items" >
            <div class="flex-row full-width flex-center">
                <span class="margin-l flex-grow" style="text-align: left;">{{ item.Text }}</span>
                <span class="margin-r" style="width: 60px; text-align: right;">{{ item.Amount }}</span>
            </div>
        </div>
        <div *ngIf="this.HasSummary">
            <div class="line-gray-thick"></div>
            <div class="flex-row full-width flex-center">
                <span class="margin-l flex-grow font-bold" style="text-align: left;">{{ this.SummaryItem.Text }}</span>
                <span class="margin-r font-bold" style="width: 60px; text-align: right;">{{ this.SummaryItem.Amount }}</span>
            </div>
        </div>
    </div>
</div>