<div class="header-body full-size">
  <div class="flex-row full-size flex-center">
    <button mat-button mat-icon-button title="Trocar menu" (click)="this.MenuToggle();">
      <i class="fas fa-bars color-gray font-big"></i>
    </button>
    <div class="flex-row flex-grow header-title-panel">
      <div class="flex-column header-title-panel-title">
        <span class="font-larger">{{ this.CurrentAccount }}</span>
        <span #title class="font-medium visibiliity-fades"><i>{{ this.Title }}</i></span>
      </div>
    </div>
    <div class="flex-row header-login-panel">
      <div class="flex-row">
        <button class="z-button z-button-round z-button-50-square cursor-pointer" (click)="this.EditUser();">
          <i class="fas fa-user color-gray" style="font-size: 24px;"></i>
        </button>
        <div class="flex-column color-text-light header-login-info">
          <span class="header-login-info-username"><b>{{ this.Login }}</b></span>
          <span class="header-login-info-permission"><i>{{ this.Permission }}</i></span>
        </div>
      </div>
      <button class="z-button-outline z-button-30-square cursor-pointer" (click)="this.Logoff();">
        <i class="fas fa-sign-out-alt"></i>
      </button>
    </div>
  </div>
  <div class="line-secondary-thick" style="z-index: 15;"></div>
</div>