<div *ngIf="this.Busy" class="font-large full-size flex-center">
  Carregando informações...
</div>
<div #container class="flex-column full-size visibiliity-fades visibiliity-fade-out visibiliity-fade-removed"
  style="margin-bottom: 6px;">
  <module-basic-default-select-with-filter #componentAddress></module-basic-default-select-with-filter>
  <div class="flex-row">
    <div style="width: 100%">
      <module-basic-default-select-with-filter #componentCall></module-basic-default-select-with-filter>
    </div>
    <div style="min-width: 225px">
      <module-basic-default-select-with-filter #componentLines></module-basic-default-select-with-filter>
    </div>
  </div>
  <div class="flex-row">
    <div style="width: 50%">
      <module-basic-default-select-with-filter #componentContact></module-basic-default-select-with-filter>
    </div>
    <div style="width: 50%">
      <module-basic-default-select-with-filter #componentNote></module-basic-default-select-with-filter>
    </div>
  </div>
</div>
