<div class="flex-column full-size">
  <span class="font-large" style="margin-bottom: 18px;"><b>Novo Usuário</b></span>
  <div class="crud-popup-grid" style="margin: 0px !important; margin-bottom: 8px !important;">
    <template #userConfigContainer></template>
  </div>  
  <div class="flex-grow">
    <app-from-to #permissionConfig></app-from-to>
  </div>
  <div class="flex-row">
    <button style="width: 50%;" class="margin-r z-button z-button-large z-button-borderless z-button-round z-button-40-h z-button-font-18 backcolor-primary color-white" [disabled]="this.Busy" (click)="this.SendRequest()">
      <i *ngIf="this.Busy" class="fa fa-circle-notch fa-spin fa-lg"></i>
      <span *ngIf="!this.Busy">Novo Usuário</span>
    </button>
    <button style="width: 50%;" #closeButton [mat-dialog-close]="true" class="margin-l z-button z-button-large z-button-borderless z-button-round z-button-40-h z-button-font-18 backcolor-gray color-black" [disabled]="this.Busy">
      <i *ngIf="this.Busy" class="fa fa-circle-notch fa-spin fa-lg"></i>
      <span *ngIf="!this.Busy">Cancelar</span>
    </button>
  </div>
</div>