<div class="flex-column full-size">
  <div class="flex-column">

    <div class="font-medium-small white-card internal-padding-small">
      <div class="font-medium">24/09/2019</div>
      <li>LOG: tela de log adicionada</li>
      <li>BASE: alterado e executado o script que remove a duplicação, esta última foi causada pelo ajusta da nova macro
        de cnpj pelo google</li>
      <li>NOVO LEAD: o botão NOVO AGENDAMENTO não estava aparecendo</li>
      <li>NOVO LEAD: o usuário não conseguia trocar entre os tipos de leads sem antes ir para uma outra página</li>
    </div>

    <div class="font-medium-small white-card internal-padding-small">
      <div class="font-medium">25/09/2019</div>
      <li class="font-medium">MINERAÇÃO: liberado o controle de prioridades por automação</li>
      <li class="font-medium">MINERAÇÃO: liberada a istagem de empresas na fila de automação</li>
      <br>
      <li class="font-medium">PRÓXIMO PASSO: liberação do gerenciamento de campanhas</li>
    </div>

    <div class="font-medium-small white-card internal-padding-small">
      <div class="font-medium">11/10/2019</div>
      <li class="font-medium">LEADS: resolução dos problemas relacionados a mailing duplicados ou mailing retornando antes da hora</li>
    </div>

    <div class="font-medium-small white-card internal-padding-small">
      <div class="font-medium">14/10/2019</div>
      <li class="font-medium">RELATÓRIOS: liberada a função de avaliar fatias das tortas</li>
      <li class="font-medium">RELATÓRIOS: novo relatório de avaliações, com curvas diárias e o total por SmartCep, SmartCnpj, Abr e Simplifique</li>
      <li class="font-medium">EMRPRESAS: liberada a listagem de empresas. Com filtros por nome fantasia e cnpj</li>
      <li class="font-medium">LIGAÇÕES DE RETORNO: liberada a função de excluir um agendamento</li>
    </div>

    <div class="font-medium-small white-card internal-padding-small">
      <div class="font-medium">21/10/2019</div>
      <li class="font-medium">RELATÓRIOS: CORRIGIDA a função de avaliar fatias das tortas</li>
      <li class="font-medium">LEADS: CORRIGIDA a função de tabulação que não retorna aos leads</li>
      <li class="font-medium">CAMPANHAS: liberada a tela de controle de campanhas</li>
      <li class="font-medium">CADASTROS: liberada a tela de controle de 'departamentos'</li>
      <li class="font-medium">CADASTROS: liberada a tela de controle de 'login das macros'</li>
      <li class="font-medium">CADASTROS: liberada a tela de controle de 'mensagens de bloqueio'</li>
      <li class="font-medium">CADASTROS: liberada a tela de controle de 'posições'</li>
      <li class="font-medium">CADASTROS: liberada a tela de controle de 'usuários'</li>
      <li class="font-medium">CADASTROS: liberada a tela de controle de 'tabulações que não voltam aos leads'</li>
    </div>

    <div class="font-medium-small white-card internal-padding-small">
      <div class="font-medium font-bold">25/10/2019</div>
      <li class="font-medium">CADASTROS: liberada a tela de controle de 'máquinas de mineração'</li>
      <li class="font-medium">CADASTROS: liberada a tela de controle de 'configuração de mineração'</li>
    </div>

  </div>
</div>
