<div id="side-bar-body-component" class="flex-column side-bar-body" style="overflow-y: auto; margin-bottom: 12px;">
  <div class="side-bar-logo-container">
    <div class="full-size" style="display: flex;align-items: center;align-content: center;justify-content: center;justify-items: center;">
      <span class="font-larger">BRDN</span>
    </div>
    <div class="line-secondary-thick-white"></div>
  </div>
  <app-structure-side-bar-account-picker *ngIf="this.MultipleAccounts"></app-structure-side-bar-account-picker>
  <div class="flex-column flex-grow full-width" style="overflow-y: auto;">
    <div #items class="flex-column color-text-light visibiliity-fades" style="margin: 5px;">
      <template #itemPanel></template>
    </div>
  </div>
  <app-comany-callback></app-comany-callback>
  <div class="flex-column flex-center" style="margin-top: 6px; margin-bottom: 6px;">
    <span class="font-small color-gray">BRDN 2019</span>
  </div>
</div>
