<div class="full-height bi-card-margin">
  <div class="full-size bi-card-container" [ngStyle]="{ 'background': this.GradientClass }">
    <div class="flex-row flex-grow full-height bi-card-content">
      <mat-icon class="bi-card-icon" *ngIf="this.MaterialIcon != null">{{ this.MaterialIcon }}</mat-icon>
      <i class="bi-card-icon {{ this.FontAwesomeIcon }}" *ngIf="this.FontAwesomeIcon != null"></i>
      <div class="flex-column flex-grow">
        <div class="bi-card-value" style="text-align: right;">{{ this.Value }}</div>
        <div style="text-align: right;">{{ this.Title }}</div>
      </div>
    </div>
  </div>
</div>