<div class="flex-column full-size">
  <div style="height: 50px;">
    <app-crud-filter #filter></app-crud-filter>
  </div>
  <div #container class="visibiliity-fades visibiliity-fade-out" style="min-height: 450px; max-height: 450px;">
    <div class="flex-row full-size" style="margin-top: 6px; align-items: flex-start !important;">
      <div class="full-size white-card" style="width: 65%;">
        <app-bi-chart #chartLines></app-bi-chart>
      </div>
      <div class="margin-l full-size white-card" style="width: 35%;">
        <app-bi-chart #chartPie></app-bi-chart>
      </div>
    </div>
  </div>
</div>
