<div class="flex-row" style="height: 100%; overflow: hidden;">
    <app-waiting-loader #loader></app-waiting-loader>
    <app-structure-side-bar #sidebar></app-structure-side-bar>
    <div class="flex-column flex-grow">
        <app-structure-header #header></app-structure-header>
        <div class="flex-column flex-grow" style="overflow: auto">
            <div class="site-component-router-outlet">
                <router-outlet></router-outlet>
            </div>
        </div>        
    </div>
</div>