<div class="flex-row flex-center-vertically" style="justify-content: space-between;">
  <div class="flex-row full-size flex-center" style="justify-content: space-between">
    <div class="flex-column">
      <div class="font-bold font-medium">{{ this.CompanyName }}</div>
      <div class="flex-row font-medium-small" style="justify-content: space-between">
        <div *ngIf="this.HasPhone"><b>Fone:</b> {{ this.Phone }}</div>
        <div *ngIf="this.HasCnpj"><b>Cnpj:</b> {{ this.Cnpj }}</div>
      </div>
      <div class="flex-row font-medium-small" style="justify-content: space-between">
        <div *ngIf="this.HasWalletLand"><b>Carteira Fixa:</b> {{ this.WalletLand }}</div>
        <div *ngIf="this.HasWalletMobile"><b>Carteira Móvel:</b> {{ this.WalletMobile }}</div>
      </div>
      <div class="font-medium-small" *ngIf="this.HasConvergencyMessage"><b>Convergente:</b> {{ this.ConvergingMessage }}</div>
    </div>
    <div class="flex-row" style="justify-content: flex-end;">
      <app-company-callback-label [Model]="this.Callback"></app-company-callback-label>
      <button *ngIf="!this.HasCallback" [disabled]="this.Busy"
        class="margin-l z-button z-button-large z-button-borderless z-button-round z-button-40-h font-medium-small backcolor-ok color-white"
        style="position: relative; width: 260px;" (click)="this.NewCallback();">
        <span>Novo<br>Agendamento</span>
        <i class="fas fa-phone" style="position: absolute; left: 6px;"></i>
      </button>
      <button *ngIf="this.ShowsNext" [disabled]="this.Busy"
        class="margin-l z-button z-button-large z-button-borderless z-button-round z-button-40-h font-medium-small backcolor-delete color-white"
        style="position: relative; width: 260px;" (click)="this.NextLead();">
        <span>Próximo<br>Lead</span>
        <i class="fas fa-arrow-right" style="position: absolute; left: 6px;"></i>
      </button>
    </div>
  </div>
</div>
