<div class="white-card flex-row" [ngStyle]="this.GetStyle">
  <div class="margin-l flex-row flex-grow">
    <template #container></template>
  </div>
  <div class="margin-r flex-center">
    <button [disabled]="this.Busy" title="Filtrar"
      class="z-button z-button-large z-button-borderless z-button-30-h z-button-font-18 backcolor-ok color-white"
      (click)="this.Filter();">
      <i *ngIf="!this.Busy" class="fas fa-search"></i>
      <i *ngIf="this.Busy" class="fa fa-circle-notch fa-spin"></i>
    </button>
  </div>
</div>
