<div class="flex-column full-size">
  <div style="height: 50px;">
    <app-crud-filter #filter></app-crud-filter>
  </div>
  <div #container class="flex-column full-size visibiliity-fades visibiliity-fade-out">
    <div class="white-card" style="height: 65%;">
      <bi-chart #chartLines></bi-chart>
    </div>
    <div class="flex-row" style="height: 35%;">
      <div class="white-card flex-grow">
        <bi-chart #chartAbr></bi-chart>
      </div>
      <div class="white-card margin-l flex-grow">
        <bi-chart #chartCnpj></bi-chart>
      </div>
      <div class="white-card margin-l flex-grow">
        <bi-chart #chartZipNumber></bi-chart>
      </div>
    </div>
  </div>
</div>
