<div [class]="this.RowClass" (click)="this.ItemClicked()">
  <div class="full-size flex-center-vertically">
    <div class="crud-template-internal-margin flex-column full-width">
      <div class="flex-column" style="justify-content: space-between;">
        <div class="flex-row flex-center" style="justify-content: space-evenly;">
          <div class="font-medium-small" style="max-width: 130px; text-align: center;">{{ this.DateTime }}</div>
          <div class="font-medium-small" style="max-width: 160px; text-align: center; text-overflow: ellipsis;" [title]="this.Creator">{{ this.Creator }}</div>
          <div class="font-medium-small" style="max-width: 130px; text-overflow: ellipsis;">{{ this.Duration }}</div>
          <div [class]="this.ContactClass" style="text-align: center; text-overflow: ellipsis;" [title]="this.Contact">{{ this.Contact }}</div>
          <div [class]="this.TabulationClass" style="text-overflow: ellipsis;" [title]="this.Tabulation">{{ this.Tabulation }}</div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!this.LastChild" class="line-black"></div>
</div>
