.bi-card-margin
{
    margin-left: 4px;
    margin-right: 4px;
}
.bi-card-container
{
    color: white;
    font-size: 16px;
    font-weight: bold;
    
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    
    padding-left: 5px;
    padding-right: 5px;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 8px;
}
.bi-card-content
{
    position: relative;

    align-items: center;
    align-content: center;

    padding-left: 10px;
    padding-right: 10px;
}
.bi-card-value
{
    font-size: 30px;
}

i.bi-card-icon
{
    top: 50%;
    left: 0%;
    position: absolute;
    transform: translate(0%, -50%);

    font-size: 48px;
}
svg.bi-card-icon
{
    top: 50%;
    left: 0%;
    position: absolute;
    transform: translate(0%, -50%);

    font-size: 48px;
}
mat-icon.bi-card-icon
{
    top: 50%;
    left: 0%;
    position: absolute;
    transform: translate(0%, -50%);
    
    font-size: 48px;
}