<div #loaderComponent class="full-size waiting-loader-body waiting-loader-body-hide waiting-loader-body-fade-out br-15" style="position: absolute;">
  <div>
    <div class="waiting-loader-content">
      <i class="fa fa-circle-notch fa-spin" style="font-size: 72px;"></i>
    </div>
  </div>
</div>