<div [class]="this.RowClass" (click)="this.ItemClicked()">
  <div class="full-size flex-center-vertically">
    <div class="crud-template-internal-margin flex-column full-width">
      <div class="flex-column" style="justify-content: flex-start;">
        <div class="font-medium-small flex-row flex-center-flex-center-vertically">
          <div class="margin-l" style="min-width: 120px;">{{ this.DateTime }}</div>
          <div class="margin-l" style="min-width: 120px; text-overflow: ellipsis;" [title]="this.Creator">{{ this.Creator }}</div>
        </div>
        <div class="flex-grow margin-l" style="text-overflow: ellipsis;" [title]="this.Comment">{{ this.Comment }}</div>
      </div>
    </div>
  </div>
  <div *ngIf="!this.LastChild" class="line-black"></div>
</div>
