.component-animation
{
    transition: transform 0.2s ease-out;
    -o-transition: transform 0.2s ease-out;
    -ms-transition: transform 0.2s ease-out;
    -moz-transition: transform 0.2s ease-out;
    -webkit-transition: transform 0.2s ease-out;
}
.component-animation-off-screen
{
    opacity: 0;
    transform: translateY(300px);
}
.component-animation-on-screen
{
    opacity: 1;
    transform: translateY(0px);
}

.login-card-container
{
    padding: 2px 6px 2px 6px;
}