<div class="flex-column full-size" style="align-items: center; align-content: center; justify-content: center; overflow: hidden;">
  <div style="width: 400px; height: 320px;">
    <div #logoImg class="component-animation component-animation-off-screen flex-row" style="justify-content: space-around; margin-bottom: 15px;">
      <img src="assets/img/logo.png"/>
    </div>
    <div #container class="visibiliity-fades visibiliity-fade-out visibiliity-fade-removed white-card flex-column">
      <div #containerLogin class="component-animation component-animation-off-screen margin-r" style="margin-top: 10px;">
        <app-text-input #login [HasShadow]="false" [Required]="true" [Model]="this.User" Property="Email" MaterialIcon="email" IconColor="9ec0c2" IconWidth="40" Warning="email" Placeholder="login" (OnSend)="this.Login();"></app-text-input>
      </div>
      <div #containerPassword class="component-animation component-animation-off-screen margin-r" style="margin-top: 8px; margin-bottom: 20px;">
        <app-text-input #password [HasShadow]="false" Type="password" Hint="a senha deve ter no mínimo 6 dígitos" [MinLength]="6" [Required]="true" [Model]="this.User" Warning="senha" Property="Password" MaterialIcon="lock" IconColor="9ec0c2" IconWidth="40" Placeholder="senha" MarginBottom="-18" (OnSend)="this.Login();"></app-text-input>
      </div>
    </div>
    <button #containerButton Login class="full-width component-animation component-animation-off-screen z-button z-button-large z-button-borderless backcolor-primary z-button-40-h color-white" style="margin-top: 15px;" [disabled]="!this.CanSubmit()" (click)="this.Login();">
      <i *ngIf="this.Busy" class="fa fa-circle-notch fa-spin fa-lg"></i>
      <span *ngIf="!this.Busy">Entrar</span>
    </button>
    <div #containerButtonForgot class="component-animation component-animation-off-screen flex-row cursor-pointer" style="align-content: center; align-items: center; justify-content: center; font-size: 12px; margin-top: 8px;">
        <i class="material-icons">help_outline</i>
        <span>Esqueci a senha</span>
    </div>
  </div>
</div>