<div class="flex-row flex-center">
  <span style="margin-top: 0px; margin-right: 8px;">Itens por página:</span>
  <div style="width: 55px;">
    <app-combo-input #paginationSize></app-combo-input>
  </div>
  <div class="flex-row">
    <template #buttonsContainer></template>
  </div>
</div>