<div class="flex-column full-size">
  <b class="font-large">Criar nova área de atuação</b>
  <div class="flex-column flex-grow">
    <div class="full-width">
      <div class="crud-popup-grid">
        <template #_container></template>
      </div>
    </div>
  </div>
  <div class="flex-row">
    <button class="margin-r flex-grow z-button z-button-large z-button-borderless z-button-round z-button-40-h z-button-font-18 backcolor-primary color-white" [disabled]="this.Busy" (click)="this.SendRequest()">
      <i *ngIf="this.Busy" class="fa fa-circle-notch fa-spin fa-lg"></i>
      <span *ngIf="!this.Busy">Nova área de atuação</span>
    </button>
    <button #closeButton [mat-dialog-close]="true" class="margin-l flex-grow z-button z-button-large z-button-borderless z-button-round z-button-40-h z-button-font-18 backcolor-gray color-black" [disabled]="this.Busy">
      <i *ngIf="this.Busy" class="fa fa-circle-notch fa-spin fa-lg"></i>
      <span *ngIf="!this.Busy">Cancela</span>
    </button>
  </div>
</div>