<div class="flex-column full-size">
  <div *ngIf="this.HasFilterPanel" style="margin-bottom: 6px;">
      <app-crud-filter #filter></app-crud-filter>
  </div>
  <app-crud-select #select></app-crud-select>
</div>