﻿.selectionless
{
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.layer-top
{
    z-index: 6 !important;
}

.body-html
{
    height: 100%;
}
.body-content
{
    width: 100%;
    height: 100%;

    margin: 0px;
    padding: 0px;

    color: #393F56;
    background-color: #EEEEEE;
    font-family: 'gotham', sans-serif;

    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
}
.site-component-router-outlet
{
    display: flex;

    flex-grow: 1;
    flex-direction: column;

    margin-top: 16px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 14px;
}

.internal-margin-small
{
    padding: 4px;
}
.internal-padding-small
{
    padding: 4px;
}