.z-button-font-14 { font-size: 14px !important; }
.z-button-font-16 { font-size: 16px !important; }
.z-button-font-18 { font-size: 18px !important; }
.z-button-font-20 { font-size: 20px !important; }
.z-button-font-22 { font-size: 22px !important; }

.z-button-25-w { width: 25px !important; }
.z-button-30-w { width: 30px !important; }
.z-button-40-w { width: 40px !important; }
.z-button-50-w { width: 50px !important; }
.z-button-60-w { width: 60px !important; }

.z-button-25-h { height: 25px !important; }
.z-button-30-h { height: 30px !important; }
.z-button-40-h { height: 40px !important; }
.z-button-50-h { height: 50px !important; }
.z-button-60-h { height: 60px !important; }

.z-button-25-square { width: 25px !important; height: 25px !important; }
.z-button-30-square { width: 30px !important; height: 30px !important; }
.z-button-40-square { width: 40px !important; height: 40px !important; }
.z-button-50-square { width: 50px !important; height: 50px !important; }
.z-button-60-square { width: 60px !important; height: 60px !important; }

.z-button:disabled, .z-button[disabled]
{
    color: #DDDDDD !important;
    cursor: not-allowed;
    background-color: transparent !important;
}
.z-button
{
    cursor: pointer;
    display: block;
    
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    justify-content: center;

    background-color: transparent;

    transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}
.z-button-borderless
{
    border: none;
}
.z-button-round
{
    color:rgba(0,0,0,.87);
    
    border: none;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12);
    border-radius: 50%;
}
.z-button-hover
{
    box-shadow: 0 0px 0px 0px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12);
}
.z-button-hover:hover
{
    box-shadow: 0 9px 15px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12);
}
.z-button-outline
{
    color:rgba(0,0,0,.87);
    cursor: pointer;
    
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    
    font-size: 18px;
    font-family: 'Lato', sans-serif;

    background-color: transparent;

    border-color: #DDDDDD;
    border-style: solid;
    border-width: 2px;
    border-radius: 12px;
}

.z-button-small
{
    height: 30px;

    font-size: 16px;
    
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12);
    border-radius: 6px;
} 
.z-button-small:hover
{
    box-shadow: 0 9px 15px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12);
} 

.z-button-medium
{
    height: 40px;

    font-size: 24px;
    
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12);
    border-radius: 6px;
} 
.z-button-medium:hover
{
    box-shadow: 0 9px 15px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12);
} 

.z-button-large
{
    height: 52px;

    font-size: 24px;
    
    /* box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12); */
    border-radius: 6px;
} 
.z-button-large:hover
{
    box-shadow: 0 9px 15px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12);
}

.z-button-only-bottom-round
{
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}