.crud-select-row
{
    cursor: pointer;

    transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}
.crud-select-row:hover
{
    color: #000000;
    background-color: #dddddd;
}

.crud-row-item
{
    display: flex;
    flex-direction: row;

    align-items: center;
    align-content: center;
    justify-content: center;

    overflow: hidden;
    word-wrap: unset;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.crud-pagination-button
{
    margin-left: 4px;
    margin-right: 4px;
}

.crud-select-body
{
    display: flex;
    flex-shrink: 0;
    flex-direction: column;

    width: 100%;
    height: 100%;
}
.crud-select-body-shadow
{
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12);
}

.crud-panel-header
{
    height: 30px;
    padding-left: 8px;
    padding-right: 8px;

    display: flex;
    flex-direction: row;

    align-items: center;
    align-content: center;
    justify-content: space-between;

    border-bottom: solid 1px #000000;
}

.crud-title-actions-container
{
    height: 40px;

    display: flex;
    flex-direction: row;

    align-items: center;
    align-content: center;
    justify-items: flex-end;
    justify-content: space-between;

    border-bottom: solid 1px gray;
}

/* add components */
.crud-add-container
{
    display: grid;
    padding: 8px;

    grid-gap: 8px;
    grid-auto-rows: 50px;
    grid-template-columns: auto auto;
}
.crud-add-component:last-child
{
    grid-column: 1 / span 2;
}

/* crud defaults */
.crud-select-row-odd { background-color: white; }
.crud-select-row-even { background-color: #eeeeee; }
.select-body-item-border
{
    border-bottom: solid 1px black;
}
.select-body-item-default-height
{
    height: 35px;
}
.select-body-item-default-padding
{
    padding: 2px 4px 2px 4px;
}
.select-body-item-selected
{
    color: white;
    font-weight: 200;
    background-color: #bac3c5 !important;
}