.crud-popup-grid
{
    margin: 21px 8px 6px 8px;

    display: grid;
    row-gap: 22px;
    column-gap: 6px;
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 50%);
}
.crud-pupup-item:last-child:nth-child(even)
{
    grid-column: 1 / span 2;
}
.crud-pupup-item
{
    height: 40px;

    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}
.crud-popup-grid-3
{
    margin: 21px 8px 6px 8px;

    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 33%);
}