.gradient-red
{
    background: linear-gradient(to top right, #ff8599, #ff5471);
}
.gradient-green
{
    background: linear-gradient(to top right, #2fd8b6, #58e0c5);
}
.gradient-blue
{
    background: linear-gradient(to top right, #419aff, #72b3ff);
}
.gradient-yellow
{
    background: linear-gradient(to top right, #fdb54f, #ffcb7f);
}