::-webkit-scrollbar
{
    width: 8px;
}
::-webkit-scrollbar-thumb
{
    cursor: move;
    background-color: #AAAAAA; 
}
::-webkit-scrollbar-thumb:hover
{
    cursor: move;
    background-color: #393F56; 
}
::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 5px grey; 
}