.loader-container
{
    display: flex;
    flex-grow: 1;
    align-items: center;
    align-content: center;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
}
.simple-loader-container
{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
}
.simple-loader
{
    border: 8px solid #FFFFFF; /* Light grey */
    border-top: 8px solid #2E3194; /* Blue */
    border-radius: 50%;
    width: 35px;
    height: 35px;
    animation: spin 1.2s linear infinite;
}
.simple-loader-title
{
    color: #FF4081;
    width: 100%;
    flex-grow: 1;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    justify-content: center;
}
@keyframes spin
{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}