<div #componentContainer class="full-size visibiliity-fades">
  <div #selectContainer class="white-card crud-select-body flex-grow visibiliity-fades">
    <div *ngIf="this.ShowHeaderTitle || this.ShowsHeaderAction" class="crud-title-actions-container">
      <div *ngIf="this.ShowHeaderTitle" class="margin-l flex-center" style="height: 38px;"><b>{{ this.Title }}</b></div>
      <template #filterContainer></template>
      <div *ngIf="this.ShowsHeaderAction" style="justify-content: flex-end;">
        <app-crud-select-actions #actions></app-crud-select-actions>
      </div>
    </div>

    <div class="full-height" style="z-index: 2; overflow-y: auto; overflow-x: hidden;">
      <app-crud-select-list #list></app-crud-select-list>
    </div>
    <div #paginationContainer>
      <app-crud-select-pagination #pagination></app-crud-select-pagination>
    </div>
  </div>
</div>