<div [class]="this.RowClass" (click)="this.ItemClicked()">
  <div class="full-size flex-center-vertically">
    <div class="crud-template-internal-margin flex-column full-width">
      <div class="flex-row flex-center" style="justify-content: space-between;">
        <div class="flex-column flex-grow" style="justify-content: space-between;">
          <span class="font-medium-small"><b>{{ this.Name }}</b>&nbsp;&nbsp;{{ this.Phone }}</span>
          <span class="font-medium-small"><i>{{ this.Email }} </i></span>
          <span class="font-medium-small">
            Cadastrado em: {{ this.Timestamp }}
            <span *ngIf="this.Loaded">, <i [class]="this.IsActiveClass">{{ this.IsActive }}</i> e <i [class]="this.IsBlockedClass">{{ this.IsBlocked }}</i></span>
          </span>
        </div>
        <button mat-button mat-icon-button title="Permissões"
          (click)="this.ManagePermissions(); $event.stopPropagation();">
          <i class="material-icons">lock</i>
        </button>
        <button mat-button mat-icon-button [title]="this.ActiveActionTitle"
          (click)="this.ToggleActive(); $event.stopPropagation();">
          <i class="font-bold fas fa-user-times"></i>
        </button>
        <button mat-button mat-icon-button [title]="this.BlockActionTitle"
          (click)="this.ToggleBlocked(); $event.stopPropagation();">
          <i class="font-bold fas fa-user-lock"></i>
        </button>
        <button mat-button mat-icon-button title="Resetar senha"
          (click)="this.ResetPassword(); $event.stopPropagation();">
          <i class="font-bold fas fa-users-cog"></i>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="!this.LastChild" class="line-black"></div>
</div>